/* General */
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

.fa-solid,
.fa-regular {
  color: var(--main-color);
}

.header {
    display: row;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    padding: 20px 50px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.logo {
  display: flex;
  margin: 30px 50px 30px 50px;
  justify-content: left;
  width: 61px;
  height: 19px;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.nav-section {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  padding-bottom: 5px;
  right: 0;
}

a.navLinks {
  text-decoration: none;
  color: black;
}
a.navLinks:hover {
  text-decoration: overline #0065FC;
  color: #0065FC;
}

li {
  padding: 20px;
}

.search-input {
  flex-grow: 1;
  border: 1px solid #F2F2F2;
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: transparent;
}

.search-btn {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 12px 24px;
  border-radius: 0px 15px 15px 0px;
}

.Search-bar {
  display: flex;
  align-items: center;
  border-radius: 50px;
  max-width: 300px;
  background-color: white;
}

.loc-marker {
  font-size: 20px;
  color: #000; 
  margin-left: 10px;
  margin-right: 10px;
}

.loc-container {
  background-color: #F2F2F2;
  padding: 11px;
  border-radius: 15px 0px 0px 15px; 
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.filter-bar {
  display: flex;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #F2F2F2;
  border-radius: 40px;
  padding: 5px 15px;
  background-color: white;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #F2F2F2;
}

.icons {
  width: 22px;
  height: 22px;
}

.Infobar {
  display: flex;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  display: flex;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
  font-size: 16px;
  
}

.accommodation-card .card-content {
    margin-left: 10px;
}

.accommodation-card .fa-star {
    margin-bottom: 10px;
}
.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/* Accommodation And Popular */
.accommodation-and-popular {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.accommodation-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/* Accommodation */
.accommodation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.accommodation-pictures {
  width: 250.33px;
  height: auto;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  box-sizing: border-box;
  object-fit: cover;
  overflow: hidden;
}

.accommodation {
  width: 65%;
}

.accommodation-card {
  background-color: white;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 250.33px;
  max-height: 207.25px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


/* Popular */
.popular {
  width: 33.3%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards .card {
  display: flex;
  height: 33.3%;
  margin-top: 33px;
  box-sizing: border-box;
}

.popular-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 10px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: 5px;
}

/* Things to do */
.thingstodo {
  margin: 50px;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.about {
  background-color: #F2F2F2;
}

.list-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.bold {
  font-weight: bold;
}

/* media */
@media (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .logo {
    justify-content: center;
    align-items: center;
  }
  .main-container {
    padding: 10px;
    width: 100%;
    flex-direction: column;
  }

  .accommodation-and-popular {
    flex-direction: column;
  }

  .popular {
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }

}
 /* .nav-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
  }
  a.navLinks:hover {
  text-decoration: underline #0065FC;
  color: #0065FC;
}
*/
  .list-container {
    flex-direction: column;
  }
  .accommodation-grid {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .filters {
    flex-direction:grid;
    align-items: flex-start;
  }

  .thingstodo {
    display: grid;
    aspect-ratio: 16 / 9; 
    width: 100%;
    height: auto;
    object-fit: cover;
    grid-template-columns: 1fr;
    gap: 10px;
  }

